.questionContainer {
    display: flex;
    flex-direction: column;
    width: 80vw;
    gap: 30px;
}

.questionContainer h2 {
    font-size: 1.5em;
}

.optionsList {
    list-style-type: none;
    padding: 0;
}

.optionItem {
    margin: 10px 0;
}

.optionButton {
    width: 100%;
    padding: 10px;
}

.correct {
    background-color: #4caf50;
    color: #ffffff;
}

.incorrect {
    background-color: #f44336;
    color: #ffffff;
}

.justification {
    margin-top: 20px;
}

.nextButton {
    margin-top: 10px;
    padding: 10px;
}

@media only screen and (orientation: landscape) {
    .questionContainer {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .questionContainer h2 {
        font-size: 2em;
    }

    .optionsList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .optionItem {
        width: 45%;
    }
}